# Rust build
/target/
**/*.rs.bk

# Cargo package files
Cargo.lock

# IDEs and editors
/.idea/
/.vscode/
/*.swp
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Byebug command history
.byebug_history

# Other
*.tmp
*.bak